h1 {
    color: blue;
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}

.user {
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}

#btn {
    padding: 10px 10px 10px;
    background: #7af5ce;
    font-weight: 500;
    color: #000;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 12px;
    text-transform: uppercase;
    font-family: revert;
    transition: all 0.3s ease-in;
}

#btn:hover{
    color: white;
    background-color: #10f7ae;
    cursor: pointer;
}